@import url('https://fonts.googleapis.com/css2?family=Lato&family=ZCOOL+XiaoWei&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap'); */


html, body{
	/* background: hsl(34, 57%, 70%,0.8) no-repeat fixed center; */
	background:rgba(255, 249, 243, 0.37); 
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	/* background-image: url('/images/wood.jpg'); */
	/* filter: blur(8px); */
}

/* html{
	width:100%; 
	height:100%; 
    background:#fff url('/images/wood.jpg') center center no-repeat;
    background-attachment: fixed;
	filter: blur(8px);
	background-attachment: fixed;
	background-size: cover;
	
} */


body{
	background-color: transparent;
}


.scrollbox{
	overflow: auto;
}

::-webkit-scrollbar{
	width: normal;
}


.login-title{
	font-family: 'Noto Sans', sans-serif;
	
}

.selector-for-some-widget {
	box-sizing: content-box;
	max-width: 100%;
  }

.nav-logo{
	display: block;
	height: 100px;
}


.body-container{
	background-color: #feffe4;
	max-width: 100%;
	max-height: 100%;
}

#toggler_home{
	background-color: white;
}

#nav-header-container{
	background-color: #fff5d0;

}

.mb-5 {
	background-color: e3f2fd;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   }

.upload-label{
	text-align: left;
}

  .card-holder{
	width: 100vw;
	min-height: 100vh;
  }
  
.card{
	background: transparent;
	padding: 20px;
	width: 80%;
	max-width: 500px;
	font-family: Arial;
}

#header_unorder_list{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-family: 'Lato', sans-serif;
	color:black;
	text-align: justify;
}


.container{
	display: table-cell;
	vertical-align: middle;
}


#sku-list-card{
	width: 100%;
	height: auto;
}

#reorder-card{
	width: 100%;
	height: auto;
}

.content_view {
	margin-top: 250px;
	/* background-image: url('/images/wood.jpg'); */
	/* height: 100%; */
}


#body-div, #user-div, #roles-div, #roles-edit{
	/* old use */
	/* background: hsl(34, 57%, 70%,0.8);  */
	background:rgba(255, 249, 243, 0.37);; 
}


#card-form{
	width: 30rem;
	max-height: 25rem;
	background: hsla(0, 0%, 100%, 0.8);
	
	backdrop-filter: blur(30px);
}

#user-table, #roles-table, #roles-edit{
	white-space:nowrap;
}

.tableContainer{
	overflow: hidden;
	overflow: auto;
}

.f32 .flag {
	vertical-align: middle;
	margin: -8px 0;
}

progress {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	html,body {
	   background-image: url('/images/');
	   font-family: 'Lato', sans-serif;
	   font-size: small;
	}

	#update-sku-header{
		font-size: medium;
	}

	#update-sku-form{
		font-size:small;
	}

	#body-div{
		width:auto; /* to remove */
	}
	/* #nav-header-container{
		navbar-expand-lg
	} */

  }
